.container {
	background-color: #6610f2;
	padding-top: 61px;
	padding-bottom: 61px;
}

.carousel-root,
.carousel-root * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.carousel-root {
	position: relative;
	display: none;
}

.carousel-root .viewport {
	position: relative;
	overflow: hidden;
}

.carousel-root .slides {
	position: relative;
}

.carousel-root .slide {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s;
	background-color: #f0f0f0;
}

.carousel-root .slide.selected {
	opacity: 1;
	position: relative;
	z-index: 10;
}

.carousel-root .slide>img {
	display: block;
	width: 100%;
}

.carousel-root .arrow {
	position: absolute;
	top: 50%;
	margin-top: -36px;
	cursor: pointer;
	width: 34px;
	height: 72px;
	z-index: 10000;
}

.carousel-root .arrow-previous {
	left: 0;
}

.carousel-root .arrow-next {
	right: 0;
}

.carousel-root .viewport {
	padding: 0 80px;
	min-height: 178px;
	text-align: center;
}

.carousel-root .viewport p {
	font-style: italic;
	font-weight: 300;
	color: #5a2503;
}

.video-carousel-root,
.video-carousel-root * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.video-carousel-root {
	width: 750px;
	margin: 0 auto;
	position: relative;
}

.video-carousel-viewport {
	width: 750px;
	margin: 0 auto;
	padding: 45px 0;
	overflow: hidden;
}

.video-carousel-slider {
	width: 5000px;
	position: relative;
	top: 0;
	left: 0;
}

.video-carousel-slider>div {
	float: left;
	width: 150px;
	height: 84px;
	position: relative;
	z-index: 0;
}

.video-carousel-slider div.level1 {
	z-index: 1;
}

.video-carousel-slider div.level2 {
	z-index: 2;
}

.video-carousel-slider div.level3 {
	z-index: 3;
}

.video-carousel-slider div .panel {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	-moz-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
	-o-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
	-webkit-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
	transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.video-carousel-slider div.level2 .panel {
	width: 150%;
	height: 150%;
	top: -25%;
	left: -25%;
}

.video-carousel-slider div.level3 .panel {
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
}

.video-carousel-slider div .panel .poster {
	position: relative;
	width: 100%;
	height: 100%;
}

.video-carousel-slider div .panel .poster img:first-child {
	width: 100%;
	height: 100%;
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
}

.video-carousel-slider div .panel .poster .button {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -24px;
	margin-left: -24px;
	width: 48px;
	height: 48px;
}

.video-carousel-slider div.level3 .panel .poster img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	cursor: pointer;
}

.video-carousel-slider div.level3 .panel .poster .button {
	display: block;
}

.video-carousel-slider div .panel .video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-carousel-button-left {
	position: absolute;
	top: 75px;
	left: -40px;
	cursor: pointer;
}

.video-carousel-button-right {
	position: absolute;
	top: 75px;
	right: -40px;
	cursor: pointer;
}

.video-carousel-text {
	width: 280px;
	margin: 8px auto;
	text-align: center;
	font-size: 14px;
	font-family: Roboto, Arial, sans-serif;
	color: #f4f5fa;
	display: block;
}

.video-carousel-text span {
	font-weight: bold;
	display: block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.video-carousel-slider div .panel {
	-webkit-box-shadow: 0 10px 10px -5px rgba(122, 122, 122, 1);
	-moz-box-shadow: 0 10px 10px -5px rgba(122, 122, 122, 1);
	box-shadow: 0 10px 10px -5px rgba(122, 122, 122, 1);
}

.video-carousel-slider div.level3 .panel {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.video-carousel-root .vjs-big-play-button {
	display: none !important;
}

.playBtn {
	width: 2em;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	z-index: 1;
}

.play button {
	font: inherit;
	line-height: inherit;
	width: auto;
}

.play__control--overlaid {
	background: rgba(26, 175, 255, .8);
	border: 0;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
	color: #fff;
	display: none;
	left: 50%;
	padding: 15px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.play__control {
	background: 0 0;
	border: 0;
	border-radius: 3px;
	color: inherit;
	cursor: pointer;
	flex-shrink: 0;
	overflow: visible;
	padding: 7px;
	position: relative;
	transition: all .3s ease;
}

.play {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	direction: ltr;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	font-variant-numeric: tabular-nums;
	font-weight: 500;
	line-height: 1.7;
	max-width: 100%;
	min-width: 200px;
	position: relative;
	text-shadow: none;
	transition: box-shadow .3s ease;
}

.play-button-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	pointer-events: none;
	
}

#circle-play-b {
	cursor: pointer;
	pointer-events: auto;
}

svg {
	width: 48px;
	height: 48px;
	fill: #fff;
	stroke: #fff;
	cursor: pointer;
	background-color: rgba(black, 0.2);
	border-radius: 50%;
	opacity: 0.9;
}